# Enforce exact versions in package.json
save-exact=true

# Block installation if the Node version doesn't match 'engines' in package.json
engine-strict=true

# Ensure consistent line endings in the lockfile
newline=lf
